<div class="card-cadastrar">

<form action="/pessoas" method="POST" enctype="multipart/form-data">
<div class="cadastrar">
    <div >
        <input id="imagem" type="file" name="foto" accept="image/*">
    </div>
    <div class="cadastra">
    <input type="text" name="nome" placeholder="Nome Completo">
    </div>
    <div class="cadastra">
    <input type="date" value="dd-mm-aaaa" name="dataNascimento">
    </div>
    <div class="cadastra">
    <input type="number" name="cpf" placeholder="CPF">
    </div>
    <div class="cadastra">
    <input type="number" name="rg" placeholder="RG">
    </div>
    <div class="cadastra">
    <input type="email" name="email" placeholder="E-mail">
    </div>
    <div class="button">
    <input type="submit" value="Cadastrar">
    </div>
</div>
</form>
    
</div>

<H3 id="titulo">LISTA DE PESSOAS</h3>


    <% pessoas.forEach(function(pessoa) { %>
        <div class="card-pessoas">
        <div class="image"><img class="foto" src="/Fotos/<%= pessoa.foto%>" alt=""></div>
        <div class="normal"><%= pessoa.nome %></div>
        <div class="normal"><%= pessoa.dataNascimento %></div>
        <div class="normal"><%= pessoa.cpf %></div>
        <div class="normal"><%= pessoa.rg %></div>
        <div class="normal"><%= pessoa.email %></div>
        
        <div class="editar">
            <a href="/pessoas/edit/<%- pessoa.id_pessoa %>">
                <i class="bi-pencil-square"></i>
            </a>
        </div>
        <div class="delete">
            <a href="/pessoas/delete/<%- pessoa.id_pessoa %>">
                <i class="bi-x-circle"></i>
            </a>
        </div>
    </div>
    <% }) %> 

