<div class="card-cadastrar">

<form action="/pessoas" method="POST">
<div class="cadastrar">
    <div class="person">
    <input type="text" name="nome" placeholder="Nome Completo">
    </div>
    <div class="person">
    <input type="date" name="dataNascimento">
    </div>
    <div >
        <input id="imagem" type="file" name="foto" accept="image/*">
    </div>
    <div>
    <input type="text" name="cpf" placeholder="CPF">
    </div>
    <div>
    <input type="text" name="rg" placeholder="RG">
    </div>
    <div>
    <input type="email" name="email" placeholder="E-mail">
    </div>
    
    <input type="submit" value="cadastrar">
</div>
</form>
    
</div>

<H3 id="titulo">LISTA DE PESSOAS</h3>


    <% pessoas.forEach(function(pessoa) { %>
        <div class="card-pessoas">
        <div class="personalizado"><%= pessoa.nome %></div>
        <div class="personalizado"><%= pessoa.dataNascimento %></div>
        <div class="image"><img src="/pessoas/imagem/<%= pessoa.id_pessoa %>" alt="Foto"></div>
        <div class="normal"><%= pessoa.cpf %></div>
        <div class="normal"><%= pessoa.rg %></div>
        <div class="normal"><%= pessoa.email %></div>
        
        <div class="editar">
            <a href="/pessoas/edit/<%- pessoa.id_pessoa %>">
                <i class="bi-pencil-square"></i>
            </a>
        </div>
        <div class="delete">
            <a href="/pessoas/delete/<%- pessoa.id_pessoa %>">
                <i class="bi-x-circle"></i>
            </a>
        </div>
    </div>
    <% }) %> 

